
header{
  display: flex;
}



body{background-image:linear-gradient(90deg,orange,purple);

}

#projects{
  border-bottom: #D2D2D2 2px solid;
  min-height: 98vh;
  display: grid;
grid-template: 10% auto;
grid-row: 10px;
grid-template-columns: auto;}

.projects-feature figure {text-align: center;
height: 500px;
width:600px;
  margin-bottom: 1em;
margin-left:1em;
margin-right:1em;
margin-top:1em;
}



.projects-feature-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


.projects-feature {
border-color: blue;
border-width: 2px;
border-style: groove;
margin:1em;
padding:1em;
flex-basis: 320px;
}



#main-menu{
  background : rgba(255, 50,27,100);
position: absolute;
top: 0;
left:-300px;
width:300px;
height:100%;
transition: 0,1s all ease;
z-index: 999;}



#main-menu:target {
  left : 0;
  background: rgba(255, 247,98, 0.5);
}



#main-menu ol a {
  display: block;
  color:rgba(0, 0,0,1);
  padding: 1em;
  margin-bottom: 1px;
}


.menu-toggle{
  display: none;
}

.close-menu{
  display: none;
}


#main-menu:target+.backdrop{
display: block;
background:rgba(250,255, 177, 0.5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 998;
}

@media (min-width: 640px){
header{display: flex;
justify-content: space-between;
padding: 2em;}
#main-menu{
  position: static;
  width:100%;
  background:transparent;
}

#main-menu ol {
  display: flex;
  justify-content:;
  width:840px;
  margin:0 auto;
}

.illu_1{
  height:500px;
  width: 500px;
}

.illu_2{
  height: 500px;
  width: 600px;
}


.illu_3{
  height: 500px;
}


.illu_4{
  height: 500px;
}

.illu_5{
  height: 500px;
}

.illu_6{
  height: 500px;
  width: 600px;
}

.illu_7{
height: 500px;

}

.illu_8{
  height: 500px;
}

.typo_1{
  height: 500px;
}

.typo_2{ height: 500px;
  width: 600px;
}
#about{
  min-height: 98vh;
}
